version: "3.9"

services:

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "5000:5000"

  streamlit:
    build:
      context: .
      dockerfile: app/Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - api
